/* general rules */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif
}

main {
    height: 100vh;
    background-color: black;
}

img {
    width: 97%;
    height: 134px;
}

footer {
    height: 100px;
}

/* end general rules */


/* main rules */
span {
    font-size: large;
}

.container-h {
    display: flex;
    justify-content: end;
    height: 100%;
    padding-top: 20px;


}

header {
    height: 80px;
    background-color: black;
}


a {
    text-decoration: none;
    color: aliceblue;
    background-color: hsl(0deg 0% 29%);
    font-size: large;
    padding: 6px;
    border-radius: 6px;
}


.pinco {
    color: aliceblue;
    background-color: rgba(128, 128, 128, 0.26);
    position: absolute;
    left: 0;
    bottom: 10px;
}

.card {
    position: relative;
    width: calc(100% / 7 - 4px);

}

.container-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
    overflow-y: scroll;

}







/* end main rules */
/* footer rules */

i {
    color: aliceblue;
}

p {
    color: aliceblue;
}

.container-f {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer {
    background-color: hsl(0deg 0% 13%);
}

#end-meating {
    color: red;
}

.call-stuments,
.multimedia-struments {
    display: flex;
}

.call-stuments,
.multimedia-struments>div {
    text-align: center;
    font-size: x-large;
}

.call-stuments div {
    margin-left: 15px;
}

.multimedia-struments div {
    margin-left: 15px;
}

p {
    margin: 0 auto;
    font-size: medium;
}

.end {
    height: 100px;
    text-align: center;
    display: flex;
    align-items: center;
    background-color: hsl(0deg 0% 29%);

}

#end-meeting {
    padding: 5px 10px 5px 10px;
    color: red;
}

.circon {

    color: aliceblue;
}

.green {
    color: rgb(6, 223, 6);
}


/* end footer rules */